<div class="cita-form">
  <div class="form-group">
    <label>Alimento</label>
    <select [(ngModel)]="nuevoConsumo.alimentoId" name="alimentoId" class="form-input">
      <option [value]="0" disabled>Selecciona un alimento...</option>
      <option *ngFor="let item of listaAlimentos" [value]="item.id">
        {{ item.nombre }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Gramos consumidos</label>
    <input
      type="number"
      [(ngModel)]="nuevoConsumo.gramosConsumidos"
      name="gramos"
      placeholder="Ej: 150"
      class="form-input"
      min="1"
    />
  </div>

  <div class="form-group">
    <label>Tipo de comida</label>
    <select [(ngModel)]="nuevoConsumo.comidaTipo" name="tipo" class="form-input">
      <option value="Desayuno">Desayuno</option>
      <option value="Almuerzo">Almuerzo</option>
      <option value="Cena">Cena</option>
      <option value="Snack">Snack</option>
    </select>
  </div>

  <button class="btn-registrar" (click)="registrarConsumo()">
    <i class="ti ti-plus"></i> Agregar consumo
  </button>
</div>
