nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a1c24; /* Color oscuro profesional */
  color: white;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.btn-llamada {
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}
.active-link { font-weight: bold; border-bottom: 2px solid #22c55e; }
